/*Body settings */

body {
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

.mapContainer{
}

#mapId {
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 80%;
  overflow:visible;
}
