/*Body settings */

body {
  margin-left: auto;
  margin-right: auto;
  width:100%;
  background-color: #dbe4f0;

}


/* Header css */

header {
  background-color: cornflowerblue;
  color: #263c5a;
}


/* A css */

a {
  color: #263c5a;
}


/* Button css */

button {
  color: #263c5a;
}


/* P css */

p {
  color: #263c5a;
}


.mapContainer{
}

#mapId {
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 80%;
  overflow:visible;
}


/* Footer css */

footer {
  background-color: cornflowerblue;
  color: #263c5a;
}

