/*Body settings */

body {
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:100%;
  background-color: #dbe4f0;

}


/* Header css */

header {
  background-color: cornflowerblue;
  color: #263c5a;
}


/* Button class css */

.buttonContain {
  padding: 10px;
}


.departure{
  background-color: #ACC0F8;
}

.departure:hover{
  background-color: #DCE4FB;
}


.deviation{
  background-color: #ACC0F8;
}

.deviation:hover{
  background-color: #DCE4FB;
}


.restricted{
  background-color: #ACC0F8;
}

.restricted:hover{
  background-color: #DCE4FB;
}


.mmsi{
  background-color: #ACC0F8;
}

.mmsi:hover{
  background-color: #DCE4FB;
}


.meeting{
  background-color: #ACC0F8;
}

.meeting:hover{
  background-color: #DCE4FB;
}


/* A css */

a {
  color: #263c5a;
}


/* Button css */

button {
  color: #263c5a;
}


/* Button class css */

.buttonContain {
  margin-left: 23%;
}


/* h3 css */

h3 {
  color: #263c5a;
}


/* P css */

p {
  color: #263c5a;
  padding: 5px;
}


/* Map Container css */

.mapContainer{
}


/* Map Id css */

#mapId {
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  width: 90%;
  overflow:visible;
  margin-top: 25px;
  margin-bottom: 25px;
}

.listy{
  margin-left: 15%;
   
}


/* Footer css */

footer {
  background-color: cornflowerblue;
  color: #263c5a;
  bottom: 0;
}

